*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
button{
    cursor: pointer;
}
li,a{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-family: 'Comfortaa', sans-serif;
    color: #717171;
}
h1, h2{
    font-family: 'Comfortaa', sans-serif;
}

p{
    font-family: 'Comfortaa', sans-serif;
}