@import './norm';


.header{
    &__top{
        background: #0A0A0A;
        min-height: 114px;
        text-align: center;
        @media screen and (max-width: 420px){
            display: flex;
        }
    }
    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 30px;

    }
    &__menu{
        display: flex;
        gap: 30px;
        @media screen and (max-width: 420px){
            display: none;
        }
    }
    &__num{
        @media screen and (max-width: 600px){
            display: none;
        }
    }
}


.pro{
    &__top{
        display: block;
        text-align: center;  
        min-height: 100vh;
        background: #F5F5F7;
        padding-top: 71px;
    }
    &__name{
        font-weight: 700;
        font-size: 64px;
        line-height: 77px;
        color: #490E84;
        @media screen and (max-width: 540px){
            font-size: 45px;
        }
        @media screen and (max-width: 400px){
            font-size: 30px;
        }
    }
    &__img{
        margin-bottom: 25px;
        width: 72%;
    }
    &__btn{
        width: 350px;
        height: 70px;
        border: none;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        background: #490E84;
        border-radius: 30px;
        margin-bottom: 40px;
        @media screen and (max-width: 540px){
            font-size: 20px;
            width: 250px;
            height: 60px;
        }
        @media screen and (max-width: 380px){
            font-size: 15px;
            width: 200px;
            height: 50px;
        }
    }

}


.go{
    &__top{
        margin-bottom: 150px;
    }
    &__box{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 900px){
            display: block;
        }
    }
    &__box-2{
        @media screen and (max-width: 900px){
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__box-1{
        width: 559px;
        @media screen and (max-width: 900px){
            width: 100%;
        }
    }
    &__name{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #717171;
        margin-top: 87px;
    }
    &__text-1{
        font-weight: 400;
        font-size: 14px;
        padding-top: 20px;
        color: #0A0A0A;
    }
    &__text-2{
        font-weight: 700;
        font-size: 20px;
        line-height: 115%;
        color: #0A0A0A;
    }
}


.foot{
    &__box{
        display: flex;
        justify-content: space-between;
        margin-bottom: 150px;
        @media screen and (max-width: 1070px){
            display: block;
        }
    }

    &__box-1{
        display: block;
        text-align: center;
    }

    &__name{
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 51px;
        color: #717171;
        @media screen and (max-width: 400px){
            font-size: 25px;
        }
        @media screen and (max-width: 325px){
            font-size: 20px;
        }
    }
    &__box-name{
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        color: #0A0A0A;

    }
    &__box-2{
        display: none;
    }
    &__box-3{
        display: none;  
    }
}


.midle{
    &__box{
        display: flex;
        justify-content: center;
        @media screen and (max-width: 1070px){
            display: block;
        }
    }
    &__box-1{
        display: block;
        background: #574B63;
        text-align: center;
        padding: 0 50px;
        padding-top: 150px;
    }
    &__box-2{
        display: flex;
        justify-content: center;
        background-color: #574B63;
    }
    &__inbox{
        display: block;
    } 
    &__name{
        margin-top: 100px;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
        @media screen and (max-width: 1070px){
            margin-top: 5px;
        }
        @media screen and (max-width: 577px){
            font-size: 25px;
        }
        @media screen and (max-width: 470px){
            font-size: 20px;
        }
    }
    &__input-1{
        width: 400px;
        background: #574B63;
        height: 28px;
        font-size: 20px;
        border: none;
        border-bottom: 1px solid #fff;
        margin-top: 30px;
        margin-bottom: 20px;
        @media screen and (max-width: 570px){
            width: 100%;
        }
    }
    &__text{
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
    &__btn{
        width: 240px;
        height: 50px;
        font-weight: 700;
        font-size: 14px;
        line-height: 130%;
        background: #FFFFFF;
        border-radius: 30px;
        border: none;
        color: #490E84;
        margin-bottom: 60px;
    }
    &__box-img{
        @media screen and (max-width: 1070px){
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}